body {
  background-color: #071c2a !important;
}

.heading {
  font-family: caltonsFont;
  font-size: 5em;
  color:rgba(82, 148, 126, 0.504);
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

  .select-type {
    font-family: bangelaFont;
    font-size: 4em;
    letter-spacing: .15em;
    text-shadow: #e0e0e0 1px 1px 0;
    color:rgba(82, 148, 126, 0.504);
  }

  .fate{
    font-size: 4em;
    letter-spacing: .15em;
    text-shadow: #e0e0e0 1px 1px 0;
    color:rgba(82, 148, 126, 0.504);
    position: static;
    right: -50em !important;  
  }

  .fate.winLose {
    right: 11.5em !important;
  }

  .start {
    position: sticky;
    
  }

.popup {
  background-color: #0d2f45;
  width: 30em;
  height: 15em;
  position: relative;
  bottom: 14em;
  left: 9em;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border: 2px groove #071c2a;
  border-radius: 8px;
  position: sticky;
  transform: scale(0%);
  transition: transform ease-out 0.3s;
}

.popup.hidden {
  transform: scale(100%);
}

.rock,
.paper,
.scissor {
  transition: all 0.2s ease-out;
  width: 150px;
  height: 150px;
}

.rock:hover,
.paper:hover,
.scissor:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.determine-center {
  content: "";
  border-right: 2px dotted red;
  position: absolute;
  left: 110px;
  height: 235px;
}

.rock-determine {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 25px;
  transform: scaleX(-1);
}

.paper-determine {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 25px;
  transform: scaleX(1);
}

.scissor-determine {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 25px;
  transform: scaleX(1);
}

.ai-rock-determine {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 25px;
  transform: scaleX(1);
}

.ai-paper-determine {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 25px;
  transform: scaleX(-1);
}

.ai-scissor-determine {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 25px;
  transform: scaleX(-1);

}

.p-determine {
  position: fixed;
  bottom: 0;
  left: 10em;
  margin: auto;
  padding: auto;
}

.ai-determine {
  position: fixed;
  margin: auto;
  padding: auto;
  right: 0;
  bottom: 0;
}
 
.shake{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@font-face {
  font-family: 'caltonsFont';
  src:
      local('Caltons'), 
      url('/fonts/Caltons.otf')
      format('opentype')
}

@font-face {
  font-family: 'bangelaFont';
  src:
      local('Bangela'), 
      url('/fonts/Bangela.otf')
      format('opentype')
}

@media screen and (min-width: 700px){
  .fate h1 {
    translate: scale(0.3) !important;  
  }
}